<%= setup_context :title => I18n.t("plugins.ao_mods.title") %>

<div class="row">
  <div class="col-sm-8">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
  </div>

  <div class="col-sm-8">
    <h2><%= I18n.t("plugins.ao_mods.title") %></h2>
    <p><%= I18n.t("plugins.ao_mods.instructions") %></p>
    <%= render_aspace_partial :partial => "form" %>
  </div>
</div>

<link rel="stylesheet" type="text/css" media="all" href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/ao_mods.css" %>"></link>
